[submodule "hmis-clients"]
	path = hmis-clients
	url = https://github.com/m3rashid/hmis-clients.git
[submodule "hmis-node-server"]
	path = hmis-node-server
	url = https://github.com/m3rashid/hmis-node-server.git
[submodule "hmis-go-server"]
	path = hmis-go-server
	url = https://github.com/m3rashid/hmis-go-server.git
[submodule "hmis-packages"]
	path = hmis-packages
	url = https://github.com/m3rashid/hmis-packages.git
